<section class="hero is-danger">

  <div class="hero-header">
    <header class="header">
      <div class="container">
        <div class="header-left">
        </div>
        <div class="header-right">
          <span class="header-item">

            {{#chardin-hint
              hint="Pleaasee !"
              position="bottom"
            }}
            <button class="button is-danger is-inverted">
              <i class="fa fa-github"></i>
              Fork me !
            </button>
            {{/chardin-hint}}
          </span>
        </div>
      </div>
    </header>
  </div>

  {{#chardin-hint
    hint="Truly inspired title"
    position="bottom"
  }}
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Ember-Chardin
      </h1>
      <h2 class="subtitle">
        Simple overlay instructions for your ember apps with ChardinJs
      </h2>
    </div>
  </div>
  {{/chardin-hint}}

  <div class="hero-footer">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a href="#">Demo</a></li>
          <li class=""><a href="#">Getting started</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

{{outlet}}
