<section class="hero is-danger">

  <div class="hero-header">
    <header class="header">
      <div class="container">
        <div class="header-left">
        </div>
        <div class="header-right">
          <span class="header-item">

            {{#chardin-hint
              hint="Pleaasee !"
              position="left"
            }}
            <a href="https://github.com/Swizz/ember-chardin" class="button is-danger is-inverted">
              <i class="fa fa-github"></i>
              Fork me !
            </a>
            {{/chardin-hint}}
          </span>
        </div>
      </div>
    </header>
  </div>

  {{#chardin-hint
    hint="Truly inspired title"
    position="bottom"
  }}
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Ember-Chardin
      </h1>
      <h2 class="subtitle">
        Simple overlay instructions for your ember apps with ChardinJs
      </h2>
    </div>
  </div>
  {{/chardin-hint}}

  <div class="hero-footer">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container is-unselectable">
        <ul>
          <li>{{#link-to "index"}}Demo{{/link-to}}</li>
          <li>{{#link-to "tutorial"}}Getting started{{/link-to}}</li>
          <li>
            {{#chardin-hint
              hint="Just do it !"
              position="bottom"
            }}
            {{#link-to "further"}}Go further{{/link-to}}
            {{/chardin-hint}}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">

    {{outlet}}


    <div class="is-pulled-right">
      {{#chardin-hint
        hint="It's me ! :)"
        position="top"
      }}
        <span class="tag is-danger is-large">
          <i class="fa fa-code"></i> with <i class="fa fa-heartbeat"></i> by <a href="https://github.com/Swizz">Swizz</a>
        </span>
      {{/chardin-hint}}
    </div>
  </div>
</section>
