<div class="content">
  <br><br><br>
  <br><br>

  <div class="is-text-centered is-full-width">
    {{#chardin-hint
      hint="Because everyone love animated graphics"
      position="left"
    }}
   <img src="/red-button.gif" alt="" />
   {{/chardin-hint}}
   <br><br>

    {{#chardin-hint
      hint="The famous ChardinJs button"
      position="right"
    }}
      <a class="button is-danger is-large" {{ action "showHints" }}>Please, try it out !</a>
    {{/chardin-hint}}
  </div>

  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
</div>
